<h1>Bem vindo <%= @name %> ao DioClassificados</h1>

<p>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur quae numquam, dolorem quia ipsa placeat, inventore ut eius cumque aliquam dolor nulla minima consequuntur earum eligendi officiis dolores odio totam?
</p>
