<h1>Anúncios</h1>


<div>
  <ul>
    <% @ads.each do |ad| %>
      <li>
        <p><%= link_to "Editar", edit_ad_path(ad) %></p>
        <p><strong><%= ad.title %></strong></p>
        <p><%= ad.description %></p>
        <p><%= ad.prince %></p>
      </li>
    <% end %>
  </ul>
</div>
